<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="androidx.car.app.MAP_TEMPLATES" />
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES" />
    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE" />

    <application>

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="5" />

        <service
            android:name=".service.AQICarAppService"
            android:exported="true">

            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.WEATHER" />
            </intent-filter>

        </service>

    </application>

</manifest>
